/*************** Display ********************/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
body{
    margin: 0;
    font-family: "Afacad Flux", sans-serif;
    color: #0c0c0c;
}

/************* Header *************/
header{
    height: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5dc;
}
header h3{
    font-size: 50px;
    font-weight: 600;
    margin:0;
}
header h3 span{
    font-weight: 400;
    font-size: 60px;
}

header span {
    font-size: 15px;
}

nav{
    align-items: center;
    display: flex;
    justify-content: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin:  0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    margin:5px;
    padding: 5px;
    font-weight: 500;
    font-size: 19px;
    
}
nav ul li a{
    text-decoration:none;
    color: #0c0c0c;
}

/**************************/
.content{
    width: 900px;
    display: flex;
    margin: auto;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.content img{
 height: 450px;
}

.content h2 {
    font-size: 35px;
    margin: 30px 15px 15px 0px;
    font-weight: 500;
}

.content p {
    font-size: 21px;
    margin: 0;
    text-align: justify;
}

/***********************Footer************************/

footer{
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f5dc;
}

footer ul{
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}


footer ul li {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin:  0 20px 0 0 ;
}


.content ul li{
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: end;
    margin-top: 10px;
}

.content ul li p{
    width: 400px;
    margin:10px;
}

 iframe{
    margin: 8px;
}
/************logos id **********/
#mugwest {
    border-radius: 15px;
    border: 5px solid #84d4ac;
    background-color: #84d4ac;
    
}

#tuceb {
    border-radius: 15px;
    border: 5px solid #e4fce4;
    background-color: #e4fce4;
}

#abcloc {
    border-radius: 15px;
    border: 5px solid #f8e1e2;
    background-color: #f8e1e2;
}

#eacık {

    border-radius: 15px;
    border: 5px solid  #f0f4f4;
    background-color:  #f0f4f4;
   
}